#map {
  height: 100%;
  width: 75%;
  float: right;
}

#container {
  height: 100%;
  width: 25%;
  float: left;
}
.li-custom{
  font-size: 12px;
}
#tab-container{
  overflow-y: scroll;
  max-height: 68%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}